.img {
  width: 50px;
  height: 50px;
}
#img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: flex-start ;

}
.tweets .avatr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;
  width: 96%;
}
.analysis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  font-family:'Source Sans Pro', sans-serif;
  border-bottom: 2em;
  padding: 0.0em 0.1em 0.2em 0.5em;
}
.stat {  
  color:skyblue;
}
.stat:hover {  
  color:orange;
}

.avatr div {
  color: white;
}
.t-age {
  color: white;
}

#tweetSkin {
  background-color: gray;
  border: 5px black dashed;
}
#tweettext {
  width: 96%;
  color: white;
  justify-content: center;
  align-content: center;
  margin-left: 2em;
  margin-right: 10em;
  margin-top: 1em;
  inline-size: 90%;
  overflow-wrap: break-word;
  text-align: justify;
  text-indent: 2em;
}
#line {
  width: 98%;
  color:black;
  background-color: black;
  height: 5px;
  size: 10;
}
#emailAndName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 2;
}
textbox {
  color: white;
}
#err-msg {
  width: 100%;
  color: red;
  text-align:right;
  z-index: 2000;
  position: relative;
}