.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2em;
  border-color: dashed black;
  margin-top: 0px;
  position: relative;
}
.new-tweet form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', cursive;
  
}
.new-tweet form div button {
  background-color: #4056A1;
}
.line {
  width: 100%;
  color:black;
  background-color: black;
  height: 5px;
  size: 10;
}
.tweet-textf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: inherit;
  
}
.tweet-textf textarea {
  background-color:inherit;
  border-color: inherit;
  border-bottom-color: black;
  width: 100%;
  border:solid 1px white;
  margin-top: 0em;
  column-span: 100px;  
}